[submodule "args_and_config_files/yaml-cpp"]
	path = args_and_config_files/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "tdd/googletest"]
	path = tdd/googletest
	url = git@github.com:google/googletest.git
[submodule "serialization/cereal"]
	path = serialization/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "sqlite/sqlite_modern_cpp"]
	path = sqlite/sqlite_modern_cpp
	url = git@github.com:SqliteModernCpp/sqlite_modern_cpp.git