# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**/main

*.swp

cmake/cmake1/CMakeFiles/

*.cmake

**/CMakeCache.txt

**/Makefile

**/CMakeFiles/

cmake/cmake5/install_manifest.txt

CLion/.idea/

CLion/cmake-build-debug/


args_and_config_files/cmake-build-debug/

tdd/cmake-build-debug/

tdd/.idea/

args_and_config_files/.idea/

NASM/cmake-build-debug/

sockets/cmake-build-debug/

threads/cmake-build-debug/

serialization/cmake-build-debug/

sqlite/cmake-build-debug/
